---
import suas_info from '../assets/suas_info.png?url'
import vf_soft from '../assets/vf_soft.png?url'
import img1 from '../assets/img1.png?url'
import img2 from '../assets/img2.png?url'
import img3 from '../assets/img3.png?url'
---
<section id="sobre" class=" px-5 md:px-16 py-10 border-r-4">
    <h2 class="px-3 flex items-center justify-center gap-3 text-2xl md:text-3xl lg:text-5xl text-[#17427b] font-semibold flex-col md:flex-row">
        <span class="flex flex-col md:flex-row text-wrap md:text-nowrap md:gap-3">Inovação e Excelência: A História por trás do </span><img src={suas_info} width="100" class="lg:w-auto lg:h-auto" />
    </h2>

    <div class="flex flex-col lg:flex-row border-b-4 border-b-[#17427b] h-full py-5">
        <div class="images lg:mr-28 flex flex-col gap-0 px-10 lg:px-0 lg:w-1/2">
            <div class="lg:border-r-4 md:border-r-[#17427b] pr-3">
                <span class="p-3 mx-auto border-l-4 border-l-[#17427b] w-full flex justify-center -ml-8">
                    <img src={vf_soft} alt="" class="max-w-40 sm:max-w-80 md:max-w-40 lg:max-w-80">
                </span>
                <img src={img2} alt="Banner" class="max-w-[65vw] lg:max-w-[500px] lg:h-64" />
            </div>
            <div class="flex gap-10 sm:gap-20 -mt-10 sm:-mt-20">
              <img src={img3} alt="Banner" class="max-w-[30vw] sm:max-w-56 -ml-10 md:max-h-52 h-auto" />
              <img src={img1} alt="Banner" class="max-w-[40vw] sm:max-w-72 -mr-10 md:max-h-64 h-auto" />
            </div>
        </div>

        <div class="lg:border-r-[#17427b] lg:border-r-4 pt-10 lg:pt-0 md:pr-3 space-y-10 text-xl md:text-justify">
            <div class="h-auto lg:pl-3 space-y-10 lg:-ml-28">
                <p>A VFsoft Soluções é uma empresa especializada em tecnologia e desenvolvimento de sistemas, reconhecida por sua seriedade e compromisso em oferecer soluções inovadoras que transformam a gestão pública, em especial  Assistências Sociais. </p>
                <p>Com uma abordagem estratégica e focada nas necessidades do setor público, a <span class="font-bold">VFsoft</span> criou o <span class="font-bold">Suas.Info</span>, um sistema de gestão completo para prefeituras, que visa modernizar e otimizar a gestão da assistência social. Nosso compromisso é proporcionar eficiência, transparência e inteligência aos processos administrativos, assegurando que cada município tenha o suporte necessário para atender com excelência sua população.</p>
            </div>
            <div class="lg:-ml-10 space-y-10">
                <p>
                    A VFsoft entende a importância da tecnologia para melhorar os serviços públicos e, por isso, investe constantemente em inovação e qualidade, sempre alinhada às melhores práticas de mercado. Nossa equipe de especialistas está comprometida em entregar soluções que façam a diferença, transformando desafios em resultados concretos e promovendo um futuro mais eficiente e sustentável para as prefeituras e os cidadãos.
                </p>
                <p>
                    Com a VFsoft Soluções, sua administração pública ganha mais agilidade, controle e transparência, garantindo a qualidade nos serviços de assistência social e contribuindo para o bem-estar da comunidade.
                </p>
            </div>
        </div>
    </div>
</section>